.imageflex { display: flex;
           align-items: center;
           }
.imageflex-container{ gap: 100px;}


.nav {
    display: flex;
    gap: 25px;
    color: var(--text-color);
    font-size: 17px;
    font-family: 'Manrope';
    font-style: normal;
    align-items: center;
}
