.imageflex {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  max-width: 800px;
  margin: 40px auto;
}

.text-block {
  flex: 1;
}

.imageflex img {
  border-radius: 8px;
  object-fit: cover;
}

.nav {
    display: flex;
    gap: 40px;
    color: var(--text-color);
    font-size: 10px;
    font-family: 'Manrope';
    font-style: normal;
    align-items: center;
}
