.imageflex {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  max-width: 900px;
  margin: 10px auto;
}

.imgContainer{
    float:left;
}

.text-block {
  flex: 1;
}

.imageflex img {
  border-radius: 8px;
  object-fit: cover;
}

.nav {
    display: flex;
    justify-content: space-evenly; /* Equal space around all items */
    align-items: center;
    color: var(--text-color);
    font-size: 25px;
    font-family: 'Manrope'
    font-style: normal;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px; /* space between img and text */
}

.nav a:not(:last-child) {
    border-right: 1px solid var(--text-color);
    padding-right: 20px;
    margin-right: 20px;
}

.link-row {
      display: flex;
      justify-content: space-between;
      background-color: #f0f0f0;
      padding: 10px 20px;
    }

.link-row a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }
